@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.pictureBox {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    height: 812px;
    background: url(../images/Blacksmith-Basics-3BandW.jpg);
    background-size: cover;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1.33, 1, 1);
    animation: pictureBoxFadeIn 15s ease 0s 1 normal none;
}

.leftArrow {
    display: none;
}

.rightArrow {
    display: none;
}

body,
html {
    height: 100%;
    /*min-height: calc(100% - 88px - 142.38px);*/
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}


body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    display: none;
}

aside {
    color: #fff;
    display: grid;
    font-size: 1.6em;
    grid-template-columns: auto 40px;
    padding: 2em;
    background-color: #1A1A1D;

}

svg {
    cursor: pointer;
    margin: 0;
}

#name {
    font-weight: bold;
}

figure {
    margin: 0px;
    height: 40px
}

nav {
    height: 50%;
    display: none;
}

.active {
    position: relative;
    display: block;
    width: 100%;
    height: 208px;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: none;
}

.closeButton {
    position: fixed;
    color: black;
    top: 0px;
    right: 0px;
    padding: 0%;
}


li {
    padding: 14px;
    text-align: center;
    border-width: thick;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:visited {
    color: #1A1A1D;
}
ul li a:link {
    color: #1A1A1D;    
}


main {
    min-height: calc(100% - 142.38px - 88px);
    position: relative;
    padding: 0px;
    font-size: 1.1em;
    color: #1A1A1D;

}

#text {
    margin-left: 5%;
    margin-right: 5%;
}
 h2{
    margin-top: 0;
    padding-top: 0.83em;
}

p {

    line-height: 1.75em;

}


footer {
    width: 100%;
    background-color: #1A1A1D;
    color: white;
    padding: 2em;
}
@keyframes pictureBoxFadeIn {
    0.0% {
        opacity: 0.2;
    }

    3.1% {
        opacity: 1;
    }
}



@media only screen and (min-width: 768px) {
    #navBar {

        background-color: #1A1A1D;
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        height: auto;
    }


    #navBar li {
        padding: 14px 0;
        width: 25%;
        transition: 1s;
        transition-timing-function: cubic-bezier(0.42, 0, 0, 0.96);

    }

    #navBar li:hover {
        background: #4E4E50;
        transition: 1s;
        transition-timing-function: cubic-bezier(0.42, 0, 0, 0.96);
        width: 27%;
    }

    #navBar li a {
        color: #fff;
        font-size: 1.2em;

    }

    aside {
        display: none;
    }

    .pictureBox {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
        height: 789px;
        background: url(../images/Blacksmith-Basics-3BandW.jpg);
        background-size: cover;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 1.33, 1, 1);
    }

    h1 {
        font-size: 2.5em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        letter-spacing: 4px;

    }

    .leftArrow {
        display: block;
        position: absolute;
        top: 367px;
        left: 0px;
    }

    .rightArrow {
        display: block;
        position: absolute;
        top: 367px;
        right: 0px;
    }

    #text {
        margin-left: 15%;
        margin-right: 15%;
    }

    p {
        font-size: 1.3em;
        margin: 0px;
        margin: 15px 0px;

    }
    main{
        min-height: calc(100% - 57px - 64px);
        height: auto;
    }
    footer {
        position: relative;
        width: 100%;
        padding: 20px 15%;
        bottom: 0px;
    }

}

@keyframes h1FadeIn {
    0.0% {
        transform: translate(0px, -75px);
        opacity: 0.2;
    }

    5.5% {
        transform-origin: bottom;
        transform: translate(0px);
        opacity: 1;
    }
}
@keyframes textFadeInFromBottom {
    0.0%{
        opacity: 0.2;
        transform: translate(0px, 30px);
    }
    3.1%{
        transform-origin: bottom;
        transform: translate(0px);
        opacity: 1;
    }
}

.h1FadeIn {
    animation: h1FadeIn 15s ease 0s 1 normal none;
}
.textFromBottomAnimation{
    animation: textFadeInFromBottom 15s ease 0s 1 normal none;
}