aside{
    position: fixed;
}
aside h2{
    color: #ffffff;
    width: 100%;
    padding: 0 4%;
    font-size: 2em;
    display: none;
    font-weight: bold;
}
#textBoxLarge{
    padding: 0px 5%;
    font-size: 1.4em;
}
#textBoxLarge h1{
    margin-block-start: 0;
    padding-top: 0.67em;
    border-bottom: 2px #86C232 solid;
    padding-bottom: 0.335em;
    margin-block-end: 0.335em;
}
#textBoxLarge p{
}
#menuButton{
    top: 1.58em;
    left: auto;
    right: 2em; 

}


@media only screen and (min-width: 768px) {
    aside{
        width: 20%;
    }
    #textBoxLarge{
        margin-left: 20%;
        padding: 0px 50px;
        font-size: 1.4em;
    }
    aside h2{
        display: block;
        padding: 20px 0px 20px 10%;
    }
    #textBoxLarge h1{
        font-size: clamp(2rem, 0.3906rem + 2.5000vw, 3rem);

    }
    #textBoxLarge p{
        font-size: clamp(1rem, -0.2875rem + 2.0000vw, 1.8rem);
    }
    #leftArrow, #menuButton{
        display: none;
    }

    .slideOut{
        transition: 0.5s;
        transform: translateX(0%);
        left: 0px;
    }
}
